.item {
  transition: background-color 0.5s ease, color 0.5s ease;
  @apply flex relative justify-center items-center gap-5 p-3 rounded;

  &:hover {
    @apply bg-[#333] bg-opacity-20;
  }

  &:active {
    @apply bg-[#333] bg-opacity-50;
  }

  label {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @apply flex-1 break-all;
  }

  input {
    @apply cursor-pointer;
  }
}

.done {
  @apply text-[#738290] line-through;
}

@media (max-width: 768px) {
  .item {
    &:hover {
      @apply bg-transparent;
    }

    &:active {
      @apply bg-[#333] bg-opacity-50;
    }
  }
}
